# Environment variables
.env
.env.local

# Node modules & builds
node_modules/
dist/
.next/
out/
*.tsbuildinfo

# SQLite Database
*.db
*.db-journal
*.db-wal
*.db-shm
/data/
!src/data/**
backups/

# Secure Encrypted Temporary Uploads
uploads/
temp/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db
*.traineddata
